<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:camel="http://camel.apache.org/schema/spring"
    xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://camel.apache.org/schema/spring
       http://camel.apache.org/schema/spring/camel-spring.xsd">

    <bean id="activemq" class="org.apache.activemq.camel.component.ActiveMQComponent">
        <property name="brokerURL" value="tcp://localhost:61616"/>
    </bean>

    <camelContext xmlns="http://camel.apache.org/schema/spring"
                  xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
        <route id="fedora-to-solr">
            <from uri="activemq:fedora_indexing"/>
            <to uri="fcrepo:localhost:8080/fedora/rest"/>
            <filter>
                <xpath>
                    /rdf:RDF/rdf:Description/rdf:type[@rdf:resource='http://fedora.info/definitions/v4/indexing#Indexable']
                </xpath>
                <to uri="fcrepo:localhost:8080/fedora/rest?transform=default"/>
                <to uri="http4:localhost:8983/solr/fedora/update"/>
            </filter>
        </route>
    </camelContext>

</beans>
